.navigation {
  position: fixed;
  z-index: 2;
  bottom: 2rem;
  left: 50%;
  transform: translatex(-50%);
  padding: .7rem 1.7rem;
  background-color: rgba(0, 0, 0, 0.3);
  width: max-content;
  display: flex;
  gap: .8rem;
  border-radius: 3rem;
    backdrop-filter: blur(15px);
}

.navigation a {
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-light);
    font-size: 1.1rem;
}


.navigation a:hover {
    background: rgba(0, 0, 0, 0.3)
}

.navigation a.active{
    background: var(--color-bg);
}